@model Employee
<ul class="list-group">
  <Employee.firstname class="list-group-item">Employee</li>
   <li class="list-group-item">First name :@Model.firstname </li>
  <li class="list-group-item">Last name :@Model.lastname </li>
  <li class="list-group-item">Salary : @Model.salary</li>
  <li class="list-group-item">Gender : @Model.Gender</li>
  
</ul>

